* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
}

.header {
    /* width: 100vw; */
    height: 75px;
    max-width: 1600px;
    flex-shrink: 0;
    background-color: #222;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.header-logo-and-find {
    display: flex;
    align-items: center;
    gap: 42px;
}

.logo {
    width: 44px;
    height: 38px;
    flex-shrink: 0;
}

.header-menu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 33px;
}


.header-link {
    background-color: #222;
}

.header-menu-count-backgr {
    width: 19px;
    height: 19px;
    flex-shrink: 0;
    background-color: F16D7F;
    margin-left: -42px;
    margin-top: -7px;
}

.counter-text {
    color: #FFF;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: -45px;
    margin-top: -7px;
}



.top-content {
    max-width: 100vw;
    display: flex;
    height: 764px;
    flex-shrink: 0;
    background-color: #F1E4E6;
    background-size: cover;
    margin-bottom: 65px;
}

.top-content-img {
    margin-left: -230px;
    justify-content: start;
}



.top-content-img-and-text {
    display: inline-flex;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    margin-top: 290px;
    margin-bottom: 381px;
}

.top-content-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 377px;
    height: 93px;
}

.title {
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.subtitle {
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.pink {
    color: #F16D7F;
    margin-left: 4px;
}

.categories {
    margin-bottom: 96px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 360px);
}

.item {
    position: relative;
    display: flex;
    justify-items: center;
    align-items: center;
    align-content: center;

}

.item-big {
    grid-column: 1/4;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.item-img-big {
    z-index: -999;
}


.item-text-for-center {
    width: 160px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.item-big-text {
    margin: auto;
    position: absolute;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: contents;
}



.item-big-text-pink {
    margin: auto;
    position: absolute;
    color: #F16D7F;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: contents;
}

.products-top {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}


.products-title {
    margin-bottom: 6px;
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.products-text {
    margin-bottom: 48px;
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.products-content {
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
}



.card-title-and-price {
    padding: 24px 16px;
    display: flex;
    gap: 16px;
    flex-direction: column;

}

.item-title {
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.item-text {
    color: #5D5D5D;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.item-price {
    color: #F16D7F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.products-bottom {
    margin-top: 48px;
    display: grid;
    grid-column: 1 / span 3;
    grid-row: 3 / span 3;
    justify-content: center;
}


.products-bottom-button {
    border: 1px solid #FF6A6A;
    width: 212px;
    height: 48px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.products-bottom-button-text {

    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 370px);
        padding-right: calc(50% - 370px);
    }

    .logo {
        margin-left: 16px;
    }

    .header-menu {
        margin-right: 40px;
    }

    .header {
        max-width: 100%;
    }

    .top-content {
        height: 368px;
    }

    .top-content-img {
        margin-left: 0;
    }

    .main-img {
        width: 386px;
        height: 368px;
    }

    .top-content-img-and-text {
        margin-top: 0;
        margin-bottom: 0;
    }

    .title {
        font-size: 44px;
    }

    .subtitle {
        font-size: 24px;
    }

    .categories {
        grid-template-columns: repeat(3, 3fr);
        gap: 20px;
        margin-top: 65px;
        margin-bottom: 110px;
    }

    .item-img {
        max-width: 100%;
        /* max-height: 100%; */
    }

    .item-big {
        grid-column: 1 / 4;
    }

    .item-img-big {
        max-width: 100%;
    }

    .products-title {
        margin-bottom: 4px;
    }

    .products-content {
        grid-template-columns: repeat(2, 360px);
        grid-template-rows: auto;
        padding-bottom: 70px;
        gap: 16px;
        grid-auto-flow: dense;
        padding-bottom: 0;

    }

    .products-text {
        margin-bottom: 74px;
    }

    .products-bottom {
        margin-top: 32px;
        padding-bottom: 70px;

    }

    .products-bottom {
        /* grid-column: 1;
        grid-row: end; */
        justify-content: center;
    }
}

@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        max-width: 100vw;
    }

    .header-logo-and-find {
        margin-left: 0;
        align-items: flex-end;
    }

    .logo {
        margin-left: 0;
    }

    .header-menu {
        margin-right: 0;
        flex-direction: row-reverse;
    }

    .hidden {
        display: none;
    }

    .top-content {
        max-width: 100vw;
        height: 363px;
        justify-content: center;
    }

    .top-content-img-and-text {
        margin-top: 150px;
        margin-bottom: 150px;
        align-items: center;
        justify-items: center;
    }

    .top-content-text {
        width: 236px;
        height: 66px;
    }

    .title {
        font-size: 38px;
    }

    .subtitle {
        font-size: 20px;
    }

    .pink-stick {
        width: 12px;
        height: 61px;
    }

    .categories {
        margin-top: 64px;
        margin-bottom: 64px;
        gap: 32px;
        grid-template-columns: auto;
    }

    .item-big {
        height: 111px;
        grid-column: 1;
        text-align: center;
        position: relative;
    }

    .item-img-big {
        height: 111px;
        z-index: -99999;
        object-fit: cover;
    }

    .products-text {
        margin-bottom: 65px;
    }

    .products-content {
        grid-template-columns: auto;
    }

    .products-bottom {
        padding-bottom: 99px;
        margin-top: 66px;
    }


}