$colorTextPink: #f16d7f;
$widthSite: 1140px;
$svgFillGrey: #a4a4a4;
$colorBackGround: #fff;

@mixin text-pink ($fs) {
    font-family: Lato;
    font-size: $fs;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #f16d7f;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

details>summary {
    list-style: none;
}

details>summary::-webkit-details-marker {
    display: none;
}

a {
    text-decoration: none;
}


.center {
    padding-left: calc(50% - ($widthSite / 2));
    padding-right: calc(50% - ($widthSite / 2));
}

.svg {
    &__caret__down__path {
        fill: #838383;
    }

    &__search__path {
        fill: #a4a4a4;
    }
}


.header {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;

    &__logo__text {
        margin-right: 25px;
        font-family: Lato;
        font-size: 27px;
        line-height: 32px;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 0.025em;
        color: #222222;

        &__pink__bold {
            font-weight: 900;
            color: $colorTextPink;
        }
    }

    &__text {
        font-family: Lato;
        font-size: 14px;
        line-height: 32px;
        font-weight: 300;
        letter-spacing: 0.025em;
        color: #222222;
    }

    &__left__div {
        display: flex;
        align-items: center;
        gap: 12px;
        justify-items: center;


    }

    &__top {
        position: relative;
        padding: 14px 26px 14px 15px;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        gap: 8px;
        width: 250px;
        height: 38px;
        background-color: #cdcdcc;
        background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
        border: 1px solid #e6e6e6;
        border-radius: 3px 0px 0px 3px;

        &__menu {
            &__sum {
                display: flex;
                align-items: center;
                align-content: center;
                gap: 8px;
            }
        }

    }

    &__drop__down {
        z-index: 250;
        padding-top: 19px;
        position: absolute;
        top: 37px;
        width: 262px;
        background-color: $colorBackGround;
        ;
        border-radius: 5px;

        &__categories {

            &___summary {
                display: flex;
                padding-left: 15px;
                margin-bottom: 27px;
                align-items: center;
                align-content: center;
                gap: 8px;
            }

            &__title {
                margin-bottom: 10px;
                font-size: 14px;
                line-height: 32px;
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: 0.025em;
                color: #232323;
                border-bottom: 1px solid #e8e8e8;
                display: block;

                &:hover {
                    color: $colorTextPink
                }
            }
        }

        &__items {
            display: flex;
            gap: 8px;
            flex-direction: column;
        }

        &__item__link {
            padding-left: 5px;
            font-size: 14px;
            line-height: 28px;
            font-weight: 400;
            letter-spacing: 0.025em;
            color: #4f4f4f;
        }
    }

    &__search {
        display: flex;
        align-items: center;

        &__input {
            padding-top: 14px;
            padding-bottom: 14px;
            padding-left: 16px;
            width: 317px;
            height: 38px;
            background-color: $colorBackGround;
            border: 1px solid #e6e6e6;
            font-size: 14px;
            line-height: 32px;
            font-weight: 300;
            letter-spacing: 0.025em;
            color: #a4a4a4;
        }

        &__button {
            margin-left: -1px;
            padding: 11px 12px;
            height: 38px;
            background-color: $colorBackGround;
            border: 1px solid #e6e6e6;
            border-radius: 0px 3px 3px 0px;
        }
    }

    &__right__div {
        padding-left: 16px;
        padding-right: 16px;
        width: 262px;
        display: flex;
        align-items: center;
        gap: 26px;
        position: relative;

        &__cart {
            width: 32px;
            height: 29px;
        }

        &__button {
            &__summary {

                background-color: $colorTextPink;
                text-align: center;
                width: 130px;
                height: 38px;
                box-sizing: border-box;

                border: 1px solid $colorTextPink;

                &__cont {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                }

                &:hover {
                    background-color: $colorBackGround;
                    border: 1px solid $colorTextPink;
                    transition: .3s;
                }

                &:hover .header__right__div__button__text {
                    color: $colorTextPink;
                }

                &:hover .header__right__div__button__caret {
                    fill: $colorTextPink;
                }


            }

            &__text {
                margin-left: 18px;
                font-size: 15px;
                line-height: 32px;
                font-weight: 400;
                letter-spacing: 0.025em;
                color: $colorBackGround;
            }

            &__caret {
                fill: $colorBackGround;
            }
        }
    }

    &__right__cart {
        visibility: hidden;
        display: flex;
        padding-bottom: 9px;
        flex-direction: column;
        justify-items: center;
        width: 100%;
        background-color: #ffffff;
        border-radius: 5px;
        border: 1px solid #ffffff;
        position: absolute;
        right: 14px;
        left: auto;
        top: 55px;

        &__item {
            margin-top: 21px;
            padding-bottom: 16px;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            border-bottom: 1px solid rgba(237, 237, 237, 0.74);
        }

        &__item-info {
            display: block;
        }

        &__title {
            font-family: Lato;
            font-size: 12px;
            line-height: 1.2;
            font-weight: 700;
            text-transform: uppercase;
            color: #222222;
        }

        &__text {
            @include text-pink(12px)
        }

        &__text-x {
            @include text-pink(10px)
        }

        &__fa-circle {
            fill: #c0c0c0;
        }

        &__total {
            margin-top: 20px;
            margin-bottom: 32px;
            display: flex;
            align-content: center;
            justify-content: space-around;
        }

        &__total-heading {
            font-family: Lato;
            font-size: 16px;
            line-height: 1.2;
            font-weight: 700;
            text-transform: uppercase;
            color: #222222;
        }

        &__total-price {
            font-family: Lato;
            font-size: 16px;
            line-height: 1.2;
            font-weight: 700;
            text-transform: uppercase;
            color: #222222;
        }

        &__button-link {
            display: block;
            margin-left: 18px;
            margin-bottom: 11px;
            width: 225px;
            height: 50px;
            border: 1px solid #eaeaea;
            text-align: center;

            &:hover {
                border: 1px solid $colorTextPink;
                transition: .3s;
            }

            &:hover .header__right__cart__button-text {
                color: $colorTextPink;
                transition: .3s;
            }
        }

        &__button-text {
            margin-top: 18px;
            font-family: Lato;
            font-size: 14px;
            line-height: 1.2;
            font-weight: 700;
            text-transform: uppercase;
            color: #4a4a4a;
        }
    }
}


.header__right__div:hover .header__right__cart {
    visibility: visible;
}

.navi-box {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;

}

.menu {
    word-spacing: 35px;

    &-link-div {
        word-spacing: 2px;
    }

    &-list {
        position: relative;
        display: inline;
        font-family: Lato;
        font-size: 14px;
        line-height: 26px;
        font-weight: 700;
        text-transform: uppercase;
        color: #222222;

        &:hover .menu-box {
            display: flex;
        }
    }

    &-box {
        position: absolute;
        top: 35px;
        left: 0;
        right: auto;
        background-color: #ffffff;
        border-radius: 5px;
        border: 1px solid #e8e8e8;
        padding: 20px;
        display: none;

        &-img {
            position: absolute;
            // width: 225px;
            right: 20px;
            // left: auto;
            bottom: 20px;
            // top: auto;
        }
    }

    &-title {
        text-align: start;
        max-width: 235px;
        padding-bottom: 8px;
        margin-bottom: 16px;
        border-bottom: 1px solid #e8e8e8;
        font-family: Lato;
        font-size: 14px;
        line-height: 32px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.025em;
        color: #232323;

    }

    &-item {
        width: 235px;
        margin-right: 46px;

        &:last-of-type {
            margin-right: 0;
        }
    }
}

.reverse:hover .menu-box {
    right: 0;
    left: auto;

    &::before {
        right: 40px;
        left: auto;
    }
}

.item-link {
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    text-align: start;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #646464;
    word-spacing: 2px;

    &:hover {
        color: $colorTextPink
    }
}

.menu-box::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    transform: rotate(45deg);
    top: -9px;
    left: 20px;
    right: auto;
    border-top: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
    background-color: #fff;
}

.img-text {
    width: 70px;
    position: absolute;
    right: 30px;
    bottom: 25px;
    font-size: 22px;
    line-height: 28px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #ffffff;
}

.banner {

    position: relative;
    z-index: -100;

    &-bckgrnd {
        display: flex;
        justify-content: center;
    }



    &-text {
        padding-left: 12px;
        // border-left: 12px $colorTextPink solid;
        position: absolute;
        top: 224px;
        font-family: Lato;
        font-size: 60px;
        line-height: 1.2;
        font-weight: 900;
        letter-spacing: 0.025em;
        color: #222222;

        &::before {
            content: " ";
            background: $colorTextPink;
            width: 12px;
            height: 117px;
            position: absolute;
            top: 15px;
            left: -12px;
        }

        &-fs40 {
            font-size: 40px;
        }

        &-fs40-pink {
            font-size: 40px;
            color: $colorTextPink;
        }
    }
}

.main {
    margin-top: 98px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: dense;
    row-gap: 20px;
    column-gap: 20px;

    &-item {
        position: relative;
    }

    &-link {
        &-box {
            padding: 16px 20px 16px 19px;
            height: 82px;
            background-color: #ffffff;
            position: absolute;
            top: 26px;
        }
    }



    &-item-1 {
        grid-row: span 2;
    }

    &-item-3 {
        grid-row: span 2;
    }
}

.link-box {
    &-heading {
        font-family: Lato;
        font-size: 18px;
        line-height: 1.2;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.025em;
        color: #222222;
    }

    &-link {
        font-size: 30px;
        color: #f16d7f;
        font-family: Lato;
        line-height: 1.2;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.025em;

    }

}

.product {
    margin-bottom: 113px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;


    &-head {
        text-align: center;
    }

    &-heading {
        margin-bottom: 16px;
        font-family: Lato;
        font-size: 30px;
        line-height: 54px;
        font-weight: 700;
        letter-spacing: 0.025em;
        color: #222222;
    }

    &-head-text {
        margin-bottom: 60px;
        font-family: Lato;
        font-size: 14px;
        line-height: 54px;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: #9f9f9f;
    }




    &-box {
        margin-bottom: 79px;
        display: grid;
        grid-template-columns: repeat(4, 261px);
        column-gap: 32px;
        row-gap: 39px;




        &-button {

            box-sizing: border-box;
            border: 1px solid $colorTextPink;
            width: 212px;
            height: 48px;
            background-color: $colorTextPink;
            transition: .3s;

            &:hover {
                background-color: #fff;
            }

            &:hover .product-box-button-text {
                color: $colorTextPink;
            }

            &:hover .product-box-button-arrow-path {
                fill: $colorTextPink;
            }




            &-text {
                font-family: Lato;
                font-size: 16px;
                line-height: 48px;
                font-weight: 700;
                letter-spacing: 0.025em;
                color: #ffffff;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &-arrow-svg {
                margin-left: 9px;
            }

            &-arrow-path {
                fill: #ffffff;
            }

        }
    }
}