* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

details > summary {
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

a {
  text-decoration: none;
}

.pink {
  color: #f16d7f;
  background-color: #f16d7f;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.svg__caret__down__path {
  fill: #838383;
}
.svg__search__path {
  fill: #a4a4a4;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
}
.header__logo__text {
  margin-right: 25px;
  font-family: Lato;
  font-size: 27px;
  line-height: 32px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
}
.header__logo__text__pink__bold {
  font-weight: 900;
  color: #f16d7f;
}
.header__text {
  font-family: Lato;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #222222;
}
.header__left__div {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-items: center;
}
.header__top {
  position: relative;
  padding: 14px 26px 14px 15px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 8px;
  width: 250px;
  height: 38px;
  background-color: #cdcdcc;
  background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  border: 1px solid #e6e6e6;
  border-radius: 3px 0px 0px 3px;
}
.header__top__menu__sum {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 8px;
}
.header__drop__down {
  z-index: 250;
  padding-top: 19px;
  position: absolute;
  top: 37px;
  width: 262px;
  background-color: #fff;
  border-radius: 5px;
}
.header__drop__down__categories___summary {
  display: flex;
  padding-left: 15px;
  margin-bottom: 27px;
  align-items: center;
  align-content: center;
  gap: 8px;
}
.header__drop__down__categories__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #232323;
  border-bottom: 1px solid #e8e8e8;
  display: block;
}
.header__drop__down__categories__title:hover {
  color: #f16d7f;
}
.header__drop__down__items {
  display: flex;
  gap: 8px;
  flex-direction: column;
}
.header__drop__down__item__link {
  padding-left: 5px;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #4f4f4f;
}
.header__search {
  display: flex;
  align-items: center;
}
.header__search__input {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 16px;
  width: 317px;
  height: 38px;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #a4a4a4;
}
.header__search__button {
  margin-left: -1px;
  padding: 11px 12px;
  height: 38px;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 0px 3px 3px 0px;
}
.header__right__div {
  padding-left: 16px;
  padding-right: 16px;
  width: 262px;
  display: flex;
  align-items: center;
  gap: 26px;
  position: relative;
}
.header__right__div__cart {
  width: 32px;
  height: 29px;
}
.header__right__div__button__summary {
  background-color: #f16d7f;
  text-align: center;
  width: 130px;
  height: 38px;
  box-sizing: border-box;
  border: 1px solid #f16d7f;
}
.header__right__div__button__summary__cont {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header__right__div__button__summary:hover {
  background-color: #fff;
  border: 1px solid #f16d7f;
  transition: 0.3s;
}
.header__right__div__button__summary:hover .header__right__div__button__text {
  color: #f16d7f;
}
.header__right__div__button__summary:hover .header__right__div__button__caret {
  fill: #f16d7f;
}
.header__right__div__button__text {
  margin-left: 18px;
  font-size: 15px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #fff;
}
.header__right__div__button__caret {
  fill: #fff;
}
.header__right__cart {
  visibility: hidden;
  display: flex;
  padding-bottom: 9px;
  flex-direction: column;
  justify-items: center;
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #ffffff;
  position: absolute;
  right: 14px;
  left: auto;
  top: 55px;
}
.header__right__cart__item {
  margin-top: 21px;
  padding-bottom: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid rgba(237, 237, 237, 0.74);
}
.header__right__cart__item-info {
  display: block;
}
.header__right__cart__title {
  font-family: Lato;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}
.header__right__cart__text {
  font-family: Lato;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #f16d7f;
}
.header__right__cart__text-x {
  font-family: Lato;
  font-size: 10px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #f16d7f;
}
.header__right__cart__fa-circle {
  fill: #c0c0c0;
}
.header__right__cart__total {
  margin-top: 20px;
  margin-bottom: 32px;
  display: flex;
  align-content: center;
  justify-content: space-around;
}
.header__right__cart__total-heading {
  font-family: Lato;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}
.header__right__cart__total-price {
  font-family: Lato;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}
.header__right__cart__button-link {
  display: block;
  margin-left: 18px;
  margin-bottom: 11px;
  width: 225px;
  height: 50px;
  border: 1px solid #eaeaea;
  text-align: center;
}
.header__right__cart__button-link:hover {
  border: 1px solid #f16d7f;
  transition: 0.3s;
}
.header__right__cart__button-link:hover .header__right__cart__button-text {
  color: #f16d7f;
  transition: 0.3s;
}
.header__right__cart__button-text {
  margin-top: 18px;
  font-family: Lato;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
}

.header__right__div:hover .header__right__cart {
  visibility: visible;
}

.navi-box {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.menu {
  word-spacing: 35px;
}
.menu-link {
  color: #222222;
}
.menu-link-div {
  word-spacing: 2px;
}
.menu-list {
  position: relative;
  display: inline;
  font-family: Lato;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-text-decoration-color: #222222;
          text-decoration-color: #222222;
}
.menu-list:hover .menu-box {
  display: flex;
}
.menu-box {
  position: absolute;
  top: 35px;
  left: 0;
  right: auto;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  padding: 20px;
  display: none;
}
.menu-box-img {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.menu-title {
  text-align: start;
  max-width: 235px;
  padding-bottom: 8px;
  margin-bottom: 16px;
  border-bottom: 1px solid #e8e8e8;
  font-family: Lato;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #232323;
}
.menu-item {
  width: 235px;
  margin-right: 46px;
}
.menu-item:last-of-type {
  margin-right: 0;
}

.reverse:hover .menu-box {
  right: 0;
  left: auto;
}
.reverse:hover .menu-box::before {
  right: 40px;
  left: auto;
}

.item-link {
  display: block;
  text-transform: capitalize;
  text-decoration: none;
  text-align: start;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #646464;
  word-spacing: 2px;
}
.item-link:hover {
  color: #f16d7f;
}

.menu-box::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  transform: rotate(45deg);
  top: -9px;
  left: 20px;
  right: auto;
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
  background-color: #fff;
}

.img-text {
  width: 70px;
  position: absolute;
  right: 30px;
  bottom: 25px;
  font-size: 22px;
  line-height: 28px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #ffffff;
}

.banner {
  position: relative;
  z-index: -100;
}
.banner-bckgrnd {
  display: flex;
  justify-content: center;
}
.banner-text {
  padding-left: 12px;
  position: absolute;
  top: 224px;
  font-family: Lato;
  font-size: 60px;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.025em;
  color: #222222;
}
.banner-text::before {
  content: " ";
  background: #f16d7f;
  width: 12px;
  height: 117px;
  position: absolute;
  top: 15px;
  left: -12px;
}
.banner-text-fs40 {
  font-size: 40px;
}
.banner-text-fs40-pink {
  font-size: 40px;
  color: #f16d7f;
}

.main {
  margin-top: 98px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: dense;
  row-gap: 20px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.main-item {
  position: relative;
}
.main-link-box {
  padding: 16px 20px 16px 19px;
  height: 82px;
  background-color: #ffffff;
  position: absolute;
  top: 26px;
}
.main-item-1 {
  grid-row: span 2;
}
.main-item-3 {
  grid-row: span 2;
}

.link-box-heading {
  font-family: Lato;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
}
.link-box-link {
  font-size: 30px;
  color: #f16d7f;
  font-family: Lato;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

.product {
  margin-bottom: 113px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}
.product-item {
  position: relative;
}
.product-item-pic {
  width: 100%;
}
.product-item-pic-hover {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
}
.product-item-button {
  visibility: hidden;
  display: flex;
  align-items: center;
  pointer-events: none;
}
.product-item-button-link {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: all;
  width: 123px;
  height: 39px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #ffffff;
  position: absolute;
  top: 98px;
  bottom: auto;
  left: 70px;
  right: auto;
}
.product-item-button-link:hover {
  box-shadow: 0 0 20px 0 #fff;
  transition: box-shadow 0.2s;
}
.product-item-button-cart {
  margin-right: 8px;
  width: 23px;
  height: 22px;
}
.product-item-button-text {
  font-family: Lato;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
}
.product-item-heading {
  margin-top: 19px;
  margin-left: 14px;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}
.product-item-price {
  margin-top: 17px;
  margin-left: 13px;
  margin-bottom: 21px;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #f16d7f;
}
.product-item:hover {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}
.product-item:hover .product-item-button {
  visibility: visible;
}
.product-item:hover .product-item-pic-hover {
  visibility: visible;
}
.product-head {
  text-align: center;
}
.product-heading {
  margin-bottom: 16px;
  font-family: Lato;
  font-size: 30px;
  line-height: 54px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #222222;
}
.product-head-text {
  margin-bottom: 60px;
  font-family: Lato;
  font-size: 14px;
  line-height: 54px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #9f9f9f;
}
.product-box {
  margin-bottom: 79px;
  display: grid;
  grid-template-columns: repeat(4, 261px);
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 39px;
}
.product-box-button {
  box-sizing: border-box;
  border: 1px solid #f16d7f;
  width: 212px;
  height: 48px;
  background-color: #f16d7f;
  transition: 0.3s;
}
.product-box-button:hover {
  background-color: #fff;
}
.product-box-button:hover .product-box-button-text {
  color: #f16d7f;
}
.product-box-button:hover .product-box-button-arrow-path {
  fill: #f16d7f;
}
.product-box-button-text {
  font-family: Lato;
  font-size: 16px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-box-button-arrow-svg {
  margin-left: 9px;
}
.product-box-button-arrow-path {
  fill: #ffffff;
}

.offer {
  margin-bottom: 97px;
  height: 529px;
  display: flex;
}
.offer-left {
  position: relative;
  width: 767px;
  height: 529px;
  background-image: url(img/offer.png);
}
.offer-left-box {
  text-align: left;
  position: absolute;
  top: 146px;
  left: 39px;
  z-index: 2;
}
.offer-left-text {
  font-family: Lato;
  font-size: 54px;
  line-height: 0.8;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
}
.offer-left-text-pink {
  color: #f16d7f;
}
.offer-left-text-fs32 {
  font-size: 32.2px;
}
.offer-right {
  padding-top: 48px;
  width: 373px;
  background-color: #222224;
}
.offer-right-compet {
  display: flex;
}
.offer-right-compet-logo {
  margin-left: 36px;
  margin-right: 30px;
  width: 10%;
  height: 10%;
}
.offer-right-compet-title {
  margin-bottom: 17px;
  font-family: Lato;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #fbfbfb;
}
.offer-right-compet-text {
  margin-bottom: 54px;
  width: 246px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #fbfbfb;
}

.subscribe {
  position: relative;
  margin-bottom: 100px;
  height: 438px;
  background-image: url(img/subscribe-back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.subscribe-left {
  position: absolute;
  top: 111px;
  display: flex;
}
.subscribe-left-photo {
  width: 100%;
  height: 100%;
}
.subscribe-left-box {
  margin-left: 28px;
  margin-bottom: 19px;
}
.subscribe-left-text {
  font-family: Lato;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.025em;
  color: #222224;
  width: 420px;
}
.subscribe-left-author {
  font-family: Lato;
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
}
.subscribe-left-author-adr {
  margin-bottom: 41px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  color: #222224;
}
.subscribe-left-progress {
  display: flex;
  gap: 13px;
}
.subscribe-left-progress-item {
  z-index: 10;
  width: 38px;
  height: 4px;
  background-color: #d6d6d6;
}
.subscribe-left-progress-item2 {
  background-color: #f16d7f;
}
.subscribe-help-box {
  position: relative;
}
.subscribe-right {
  position: absolute;
  top: 148px;
  right: 90px;
  text-align: center;
}
.subscribe-right-title {
  font-family: Lato;
  font-size: 24px;
  line-height: 54px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222224;
}
.subscribe-right-text {
  margin-bottom: 35px;
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
  font-family: Lato;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222224;
}
.subscribe-right-prebutton-input {
  padding-left: 22px;
  width: 334px;
  height: 46px;
  background-color: #E1E1E1;
  border: none;
  border-radius: 25px 0 0 25px;
  display: flex;
  align-items: center;
}
.subscribe-right-button {
  width: 100px;
  height: 46px;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  background-color: #E05C6E;
  border-radius: 0px 25px 25px 0;
  border: none;
}
.subscribe-right-button-div {
  display: flex;
}

.email-input-bckgrnd {
  border: none;
  background-color: #E1E1E1;
  color: #222224;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer {
  display: flex;
}
.footer-logo {
  display: flex;
  margin-bottom: 29px;
  gap: 13px;
  align-items: center;
}
.footer-left-text {
  margin-right: 64px;
  width: 430px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #898989;
}
.footer-right-item {
  margin-left: 64px;
  margin-bottom: 97px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 80px;
}
.footer-right-item-list {
  list-style: none;
  -webkit-text-decoration-color: #898989;
          text-decoration-color: #898989;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
  line-height: 59px;
}
.footer-right-item-link {
  display: flex;
  font-size: 16px;
  line-height: 42px;
  letter-spacing: 0.025em;
  font-weight: 400;
  color: #898989;
}
.footer-right-item-link:hover {
  color: #f16d7f;
}

.foo-socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  height: 79px;
  background-color: #e6e6e6;
}
.foo-socials-text {
  font-family: Lato;
  font-size: 16px;
  line-height: 42px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #7a7a7a;
}
.foo-socials-ilems {
  display: flex;
  gap: 8px;
}
.foo-socials-item {
  display: flex;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  align-items: center;
  border: 1px solid #fff;
  box-sizing: border-box;
}
.foo-socials-pic {
  fill: #b2b2b2;
}
.foo-socials .foo-socials-item:hover .foo-socials-pic {
  fill: #fff;
  transition: 0.3s;
}
.foo-socials .foo-socials-item:hover {
  background-color: #f16d7f;
  transition: 0.3s;
}
.foo-socials .foo-socials-link:visited .foo-socials-item {
  opacity: 0.29;
}

.top-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 148px;
  background-color: #f8f3f4;
}
.top-head__heading {
  font-size: 24px;
  line-height: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: #f16d7f;
}

.breadcrumbs__ul {
  list-style-type: none;
  display: flex;
}
.breadcrumbs__li:not(:last-child)::after {
  content: "/";
  padding-left: 8px;
  padding-right: 8px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #636363;
}
.breadcrumbs__link {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #636363;
}
.breadcrumbs__li:last-child .breadcrumbs__link {
  font-weight: 700;
  color: #f16d7f;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.product-view {
  display: flex;
  justify-content: space-between;
  height: 777px;
  background-color: #f7f7f7;
  border: 1px solid #eaeaea;
  align-items: center;
}

.view-link__box {
  width: 47px;
  height: 47px;
  background-color: rgba(42, 42, 42, 0.14);
  display: flex;
  justify-content: center;
  align-items: center;
}
.view-link__box_left {
  height: 24px;
  width: 15;
  fill: #ffffff;
}
.view-link__box_right {
  height: 24px;
  width: 15;
  fill: #ffffff;
}

.product-desc {
  max-width: 1140px;
  height: 730px;
  padding-top: 72px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
  z-index: 10;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-top: -70px;
  border: 1px solid #eaeaea;
}
.product-desc__category-title {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #f16d7f;
}
.product-desc__separator {
  width: 147px;
  height: 1px;
  border: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-desc__separator_pink {
  width: 63px;
  height: 3px;
  background-color: #ef5b70;
}
.product-desc__heading {
  margin-top: 18px;
  margin-bottom: 64px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  text-transform: uppercase;
  color: #4d4d4d;
}
.product-desc__text {
  margin-bottom: 28px;
  width: 640px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #5e5e5e;
}
.product-desc__material-designer {
  display: flex;
  gap: 44px;
  margin-bottom: 37px;
}
.product-desc__material {
  display: flex;
}
.product-desc__designer {
  display: flex;
}
.product-desc__property {
  margin-right: 4px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #b9b9b9;
}
.product-desc__property_meaning {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #2f2f2f;
}
.product-desc__price {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: #ef5b70;
}
.product-desc__price_separator {
  margin-top: 42px;
  margin-bottom: 64px;
  width: 642px;
  border-bottom: 1px solid #eaeaea;
}

.product-selection {
  display: flex;
  gap: 52px;
}
.product-selection__link {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  outline: inherit;
}
.product-selection__title {
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #2f2f2f;
}
.product-selection__color {
  padding-right: 9px;
  padding-left: 14px;
  width: 144px;
  height: 35px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  display: flex;
  align-items: center;
}
.product-selection__color_logo {
  margin-right: 11px;
  width: 12px;
  height: 12px;
  background-color: #ef5b70;
}
.product-selection__color_name {
  margin-right: auto;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #bcbcbc;
}
.product-selection__color_arrow {
  font-size: 14px;
  line-height: 23px;
  font-weight: 400;
  fill: #bcbcbc;
}
.product-selection__size {
  padding-left: 14px;
  padding-right: 9px;
  width: 144px;
  height: 35px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  display: flex;
  align-items: center;
}
.product-selection__size_logo {
  display: none;
}
.product-selection__size_name {
  margin-right: auto;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #bcbcbc;
}
.product-selection__size_arrow {
  font-size: 14px;
  line-height: 23px;
  font-weight: 400;
  fill: #bcbcbc;
}
.product-selection__quantity {
  padding-right: 9px;
  padding-left: 14px;
  width: 144px;
  height: 35px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  display: flex;
  align-items: center;
}
.product-selection__quantity_input {
  border-style: none;
  outline-style: none;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #bcbcbc;
  -webkit-text-decoration: #bcbcbc;
          text-decoration: #bcbcbc;
}
.product-selection__button-box {
  margin-top: 28px;
  width: 537px;
  height: 55px;
  background-color: #ffffff;
  border: 1px solid #ef5b70;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-selection__button-box:hover {
  background-color: #f16d7f;
  transition: 0.3s;
}
.product-selection__button-box:hover .product-selection__button_text {
  color: #fff;
  transition: 0.3s;
}
.product-selection__button-box:hover .product-selection__button_pic {
  fill: #fff;
  transition: 0.3s;
}
.product-selection__button {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 15px;
}
.product-selection__button_text {
  font-family: Lato;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  color: #ef5b70;
}
.product-selection__button_pic {
  fill: #f16d7f;
}

.product-offers {
  padding-top: 120px;
  padding-bottom: 72px;
}
.product-offers__items {
  display: flex;
  gap: 32px;
}
.product-offers__title {
  margin-bottom: 72px;
  font-size: 24px;
  line-height: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: #4d4d4d;
  text-align: center;
}
.product-offers__item {
  display: flex;
  flex-direction: column;
  padding-bottom: 21px;
}
.product-offers__item_pic-box {
  width: 261px;
  height: 280px;
  background-color: #e9e9e9;
}
.product-offers__item_title {
  margin-top: 18px;
  margin-left: 15px;
  margin-bottom: 17px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #6f6e6e;
}
.product-offers__item_price {
  margin-left: 14px;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #f16d7f;
}/*# sourceMappingURL=style.css.map */