$colorTextPink: #f16d7f;
$widthSite: 1140px;
$svgFillGrey: #a4a4a4;
$colorBackGround: #fff;

@mixin text-pink ($fs) {
    font-family: Lato;
    font-size: $fs;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #f16d7f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

details>summary {
    list-style: none;
}

details>summary::-webkit-details-marker {
    display: none;
}

a {
    text-decoration: none;
}

.pink {
    color: $colorTextPink;
    background-color: $colorTextPink;
}


.center {
    padding-left: calc(50% - ($widthSite / 2));
    padding-right: calc(50% - ($widthSite / 2));
}

.svg {
    &__caret__down__path {
        fill: #838383;
    }

    &__search__path {
        fill: #a4a4a4;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;

    &__logo__text {
        margin-right: 25px;
        font-family: Lato;
        font-size: 27px;
        line-height: 32px;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 0.025em;
        color: #222222;

        &__pink__bold {
            font-weight: 900;
            color: $colorTextPink;
        }
    }

    &__text {
        font-family: Lato;
        font-size: 14px;
        line-height: 32px;
        font-weight: 300;
        letter-spacing: 0.025em;
        color: #222222;
    }

    &__left__div {
        display: flex;
        align-items: center;
        gap: 12px;
        justify-items: center;


    }

    &__top {
        position: relative;
        padding: 14px 26px 14px 15px;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        gap: 8px;
        width: 250px;
        height: 38px;
        background-color: #cdcdcc;
        background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
        border: 1px solid #e6e6e6;
        border-radius: 3px 0px 0px 3px;

        &__menu {
            &__sum {
                display: flex;
                align-items: center;
                align-content: center;
                gap: 8px;
            }
        }

    }

    &__drop__down {
        z-index: 250;
        padding-top: 19px;
        position: absolute;
        top: 37px;
        width: 262px;
        background-color: $colorBackGround;
        ;
        border-radius: 5px;

        &__categories {

            &___summary {
                display: flex;
                padding-left: 15px;
                margin-bottom: 27px;
                align-items: center;
                align-content: center;
                gap: 8px;
            }

            &__title {
                margin-bottom: 10px;
                font-size: 14px;
                line-height: 32px;
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: 0.025em;
                color: #232323;
                border-bottom: 1px solid #e8e8e8;
                display: block;

                &:hover {
                    color: $colorTextPink
                }
            }
        }

        &__items {
            display: flex;
            gap: 8px;
            flex-direction: column;
        }

        &__item__link {
            padding-left: 5px;
            font-size: 14px;
            line-height: 28px;
            font-weight: 400;
            letter-spacing: 0.025em;
            color: #4f4f4f;
        }
    }

    &__search {
        display: flex;
        align-items: center;

        &__input {
            padding-top: 14px;
            padding-bottom: 14px;
            padding-left: 16px;
            width: 317px;
            height: 38px;
            background-color: $colorBackGround;
            border: 1px solid #e6e6e6;
            font-size: 14px;
            line-height: 32px;
            font-weight: 300;
            letter-spacing: 0.025em;
            color: #a4a4a4;
        }

        &__button {
            margin-left: -1px;
            padding: 11px 12px;
            height: 38px;
            background-color: $colorBackGround;
            border: 1px solid #e6e6e6;
            border-radius: 0px 3px 3px 0px;
        }
    }

    &__right__div {
        padding-left: 16px;
        padding-right: 16px;
        width: 262px;
        display: flex;
        align-items: center;
        gap: 26px;
        position: relative;

        &__cart {
            width: 32px;
            height: 29px;
        }

        &__button {
            &__summary {

                background-color: $colorTextPink;
                text-align: center;
                width: 130px;
                height: 38px;
                box-sizing: border-box;

                border: 1px solid $colorTextPink;

                &__cont {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                }

                &:hover {
                    background-color: $colorBackGround;
                    border: 1px solid $colorTextPink;
                    transition: .3s;
                }

                &:hover .header__right__div__button__text {
                    color: $colorTextPink;
                }

                &:hover .header__right__div__button__caret {
                    fill: $colorTextPink;
                }


            }

            &__text {
                margin-left: 18px;
                font-size: 15px;
                line-height: 32px;
                font-weight: 400;
                letter-spacing: 0.025em;
                color: $colorBackGround;
            }

            &__caret {
                fill: $colorBackGround;
            }
        }
    }

    &__right__cart {
        visibility: hidden;
        display: flex;
        padding-bottom: 9px;
        flex-direction: column;
        justify-items: center;
        width: 100%;
        background-color: #ffffff;
        border-radius: 5px;
        border: 1px solid #ffffff;
        position: absolute;
        right: 14px;
        left: auto;
        top: 55px;

        &__item {
            margin-top: 21px;
            padding-bottom: 16px;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            border-bottom: 1px solid rgba(237, 237, 237, 0.74);
        }

        &__item-info {
            display: block;
        }

        &__title {
            font-family: Lato;
            font-size: 12px;
            line-height: 1.2;
            font-weight: 700;
            text-transform: uppercase;
            color: #222222;
        }

        &__text {
            @include text-pink(12px)
        }

        &__text-x {
            @include text-pink(10px)
        }

        &__fa-circle {
            fill: #c0c0c0;
        }

        &__total {
            margin-top: 20px;
            margin-bottom: 32px;
            display: flex;
            align-content: center;
            justify-content: space-around;
        }

        &__total-heading {
            font-family: Lato;
            font-size: 16px;
            line-height: 1.2;
            font-weight: 700;
            text-transform: uppercase;
            color: #222222;
        }

        &__total-price {
            font-family: Lato;
            font-size: 16px;
            line-height: 1.2;
            font-weight: 700;
            text-transform: uppercase;
            color: #222222;
        }

        &__button-link {
            display: block;
            margin-left: 18px;
            margin-bottom: 11px;
            width: 225px;
            height: 50px;
            border: 1px solid #eaeaea;
            text-align: center;

            &:hover {
                border: 1px solid $colorTextPink;
                transition: .3s;
            }

            &:hover .header__right__cart__button-text {
                color: $colorTextPink;
                transition: .3s;
            }
        }

        &__button-text {
            margin-top: 18px;
            font-family: Lato;
            font-size: 14px;
            line-height: 1.2;
            font-weight: 700;
            text-transform: uppercase;
            color: #4a4a4a;
        }
    }
}


.header__right__div:hover .header__right__cart {
    visibility: visible;
}

.navi-box {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;

}

.menu {
    word-spacing: 35px;

    &-link {
        color: #222222;
    }

    &-link-div {
        word-spacing: 2px;
    }

    &-list {
        position: relative;
        display: inline;
        font-family: Lato;
        font-size: 14px;
        line-height: 26px;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration-color: #222222;

        &:hover .menu-box {
            display: flex;
        }
    }

    &-box {
        position: absolute;
        top: 35px;
        left: 0;
        right: auto;
        background-color: #ffffff;
        border-radius: 5px;
        border: 1px solid #e8e8e8;
        padding: 20px;
        display: none;

        &-img {
            position: absolute;
            // width: 225px;
            right: 20px;
            // left: auto;
            bottom: 20px;
            // top: auto;
        }
    }

    &-title {
        text-align: start;
        max-width: 235px;
        padding-bottom: 8px;
        margin-bottom: 16px;
        border-bottom: 1px solid #e8e8e8;
        font-family: Lato;
        font-size: 14px;
        line-height: 32px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.025em;
        color: #232323;

    }

    &-item {
        width: 235px;
        margin-right: 46px;

        &:last-of-type {
            margin-right: 0;
        }
    }
}

.reverse:hover .menu-box {
    right: 0;
    left: auto;

    &::before {
        right: 40px;
        left: auto;
    }
}

.item-link {
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    text-align: start;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #646464;
    word-spacing: 2px;

    &:hover {
        color: $colorTextPink
    }
}

.menu-box::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    transform: rotate(45deg);
    top: -9px;
    left: 20px;
    right: auto;
    border-top: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
    background-color: #fff;
}

.img-text {
    width: 70px;
    position: absolute;
    right: 30px;
    bottom: 25px;
    font-size: 22px;
    line-height: 28px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #ffffff;
}

.banner {

    position: relative;
    z-index: -100;

    &-bckgrnd {
        display: flex;
        justify-content: center;
    }



    &-text {
        padding-left: 12px;
        // border-left: 12px $colorTextPink solid;
        position: absolute;
        top: 224px;
        font-family: Lato;
        font-size: 60px;
        line-height: 1.2;
        font-weight: 900;
        letter-spacing: 0.025em;
        color: #222222;

        &::before {
            content: " ";
            background: $colorTextPink;
            width: 12px;
            height: 117px;
            position: absolute;
            top: 15px;
            left: -12px;
        }

        &-fs40 {
            font-size: 40px;
        }

        &-fs40-pink {
            font-size: 40px;
            color: $colorTextPink;
        }
    }
}

.main {
    margin-top: 98px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: dense;
    row-gap: 20px;
    column-gap: 20px;

    &-item {
        position: relative;
    }

    &-link {
        &-box {
            padding: 16px 20px 16px 19px;
            height: 82px;
            background-color: #ffffff;
            position: absolute;
            top: 26px;
        }
    }



    &-item-1 {
        grid-row: span 2;
    }

    &-item-3 {
        grid-row: span 2;
    }
}

.link-box {
    &-heading {
        font-family: Lato;
        font-size: 18px;
        line-height: 1.2;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.025em;
        color: #222222;
    }

    &-link {
        font-size: 30px;
        color: #f16d7f;
        font-family: Lato;
        line-height: 1.2;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.025em;

    }

}

.product {
    margin-bottom: 113px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;

    &-item {
        position: relative;

        &-pic {
            width: 100%;

            &-hover {
                visibility: hidden;
                position: absolute;
                // z-index: 5;
                left: 0;
                top: 0;
            }
        }

        &-button {
            visibility: hidden;
            display: flex;
            align-items: center;
            pointer-events: none;

            &-link {
                display: flex;
                align-items: center;
                justify-content: center;
                pointer-events: all;
                width: 123px;
                height: 39px;
                background-color: rgba(255, 255, 255, 0.0);
                border: 1px solid #ffffff;
                position: absolute;
                top: 98px;
                bottom: auto;
                left: 70px;
                right: auto;

                &:hover {
                    box-shadow: 0 0 20px 0 #fff;
                    transition: box-shadow 0.2s;
                }
            }

            &-cart {
                margin-right: 8px;
                width: 23px;
                height: 22px;
            }

            &-text {
                font-family: Lato;
                font-size: 13px;
                line-height: 1.2;
                font-weight: 700;
                color: #ffffff;
            }
        }


        &-heading {
            margin-top: 19px;
            margin-left: 14px;
            font-size: 13px;
            line-height: 1.2;
            font-weight: 400;
            text-transform: uppercase;
            color: #222222;
        }

        &-price {
            margin-top: 17px;
            margin-left: 13px;
            margin-bottom: 21px;
            font-size: 16px;
            line-height: 1.2;
            font-weight: 700;
            text-transform: uppercase;
            color: $colorTextPink;
        }

        &:hover {
            box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
        }

        &:hover .product-item-button {
            visibility: visible;

        }

        &:hover .product-item-pic-hover {
            visibility: visible;
        }
    }

    &-head {
        text-align: center;
    }

    &-heading {
        margin-bottom: 16px;
        font-family: Lato;
        font-size: 30px;
        line-height: 54px;
        font-weight: 700;
        letter-spacing: 0.025em;
        color: #222222;
    }

    &-head-text {
        margin-bottom: 60px;
        font-family: Lato;
        font-size: 14px;
        line-height: 54px;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: #9f9f9f;
    }

    &-box {
        margin-bottom: 79px;
        display: grid;
        grid-template-columns: repeat(4, 261px);
        column-gap: 32px;
        row-gap: 39px;

        &-button {

            box-sizing: border-box;
            border: 1px solid $colorTextPink;
            width: 212px;
            height: 48px;
            background-color: $colorTextPink;
            transition: .3s;

            &:hover {
                background-color: #fff;
            }

            &:hover .product-box-button-text {
                color: $colorTextPink;
            }

            &:hover .product-box-button-arrow-path {
                fill: $colorTextPink;
            }




            &-text {
                font-family: Lato;
                font-size: 16px;
                line-height: 48px;
                font-weight: 700;
                letter-spacing: 0.025em;
                color: #ffffff;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &-arrow-svg {
                margin-left: 9px;
            }

            &-arrow-path {
                fill: #ffffff;
            }

        }
    }
}

.offer {
    margin-bottom: 97px;
    height: 529px;
    display: flex;

    &-left {
        position: relative;
        width: 767px;
        height: 529px;
        background-image: url(img/offer.png);

        &-box {
            text-align: left;
            position: absolute;
            top: 146px;
            left: 39px;
            z-index: 2;
        }

        &-text {
            font-family: Lato;
            font-size: 54px;
            line-height: 0.8;
            font-weight: 700;
            letter-spacing: 0.025em;
            color: #ffffff;

            &-pink {
                color: #f16d7f;
            }

            &-fs32 {
                font-size: 32.2px;
            }
        }


    }

    &-right {
        // padding-left: 36px;
        padding-top: 48px;
        width: 373px;
        background-color: #222224;

        &-compet {
            display: flex;

            &-logo {
                margin-left: 36px;
                margin-right: 30px;
                width: 10%;
                height: 10%;
            }

            &-title {
                margin-bottom: 17px;
                font-family: Lato;
                font-size: 20px;
                line-height: 1.2;
                font-weight: 700;
                letter-spacing: 0.025em;
                color: #fbfbfb;
            }

            &-text {
                margin-bottom: 54px;
                width: 246px;
                font-size: 14px;
                line-height: 24px;
                font-weight: 300;
                letter-spacing: 0.025em;
                color: #fbfbfb;
            }
        }

    }
}

.subscribe {
    position: relative;
    margin-bottom: 100px;
    height: 438px;
    background-image: url(img/subscribe-back.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    &-left {
        position: absolute;
        top: 111px;
        display: flex;

        &-photo {
            width: 100%;
            height: 100%;

        }

        &-box {
            margin-left: 28px;
            margin-bottom: 19px;
        }

        &-text {
            font-family: Lato;
            font-size: 16px;
            line-height: 26px;
            font-weight: 400;
            font-style: italic;
            letter-spacing: 0.025em;
            color: #222224;
            width: 420px;
        }

        &-author {
            font-family: Lato;
            font-size: 16px;
            line-height: 26px;
            font-weight: 700;
            letter-spacing: 0.025em;
            color: $colorTextPink;

            &-adr {
                margin-bottom: 41px;
                font-size: 12px;
                line-height: 14px;
                font-weight: 300;
                color: #222224;
            }
        }

        &-progress {
            display: flex;
            gap: 13px;

            &-item {
                z-index: 10;
                width: 38px;
                height: 4px;
                background-color: #d6d6d6;
            }

            &-item2 {
                background-color: $colorTextPink;
            }
        }
    }

    &-help-box {
        position: relative;
    }

    &-right {

        position: absolute;
        top: 148px;
        right: 90px;
        text-align: center;


        &-title {
            font-family: Lato;
            font-size: 24px;
            line-height: 54px;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 0.025em;
            color: #222224;
        }

        &-text {
            margin-bottom: 35px;
            font-size: 14px;
            line-height: 24px;
            text-transform: none;
            font-family: Lato;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 0.025em;
            color: #222224;
        }


        &-prebutton-input {
            padding-left: 22px;
            width: 334px;
            height: 46px;
            background-color: #E1E1E1;
            border: none;
            border-radius: 25px 0 0 25px;
            display: flex;
            align-items: center;
        }

        &-button {
            width: 100px;
            height: 46px;
            color: #FFF;
            text-align: center;
            font-size: 14px;
            font-weight: 400;
            background-color: #E05C6E;
            border-radius: 0px 25px 25px 0;
            border: none;

            &-div {
                display: flex;
            }

        }
    }
}

.email-input-bckgrnd {
    border: none;
    background-color: #E1E1E1;
    color: #222224;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.footer {
    display: flex;

    &-logo {
        display: flex;
        margin-bottom: 29px;
        gap: 13px;
        align-items: center;
    }

    &-left-text {
        margin-right: 64px;
        width: 430px;
        font-size: 14px;
        line-height: 24px;
        font-weight: 300;
        letter-spacing: 0.025em;
        color: #898989;
    }

    &-right {
        &-item {
            margin-left: 64px;
            margin-bottom: 97px;
            display: grid;
            grid-template-columns: (1fr 1fr 1fr);
            gap: 80px;

            &-list {
                list-style: none;
                text-decoration-color: #898989;
                font-size: 18px;
                font-weight: 700;
                letter-spacing: 0.025em;
                color: $colorTextPink;
                line-height: 59px;
            }

            &-link {
                display: flex;
                font-size: 16px;
                line-height: 42px;
                letter-spacing: 0.025em;
                font-weight: 400;
                color: #898989;

                &:hover {
                    color: $colorTextPink;

                }

            }
        }


    }
}

.foo-socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    height: 79px;
    background-color: #e6e6e6;


    &-text {
        font-family: Lato;
        font-size: 16px;
        line-height: 42px;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: #7a7a7a;
    }

    &-ilems {
        display: flex;
        gap: 8px;

    }

    &-item {
        display: flex;
        justify-content: center;
        width: 32px;
        height: 32px;
        background-color: #ffffff;
        align-items: center;
        border: 1px solid #fff;
        box-sizing: border-box;

    }

    &-pic {
        fill: #b2b2b2;
        ;
    }

    .foo-socials-item:hover .foo-socials-pic {
        fill: $colorBackGround;
        transition: 0.3s;
    }

    .foo-socials-item:hover {
        background-color: $colorTextPink;
        transition: 0.3s;
    }

    .foo-socials-link:visited .foo-socials-item {
        opacity: 0.29;
    }



}

.top-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 148px;
    background-color: #f8f3f4;
    // position: relative;

    &__heading {
        font-size: 24px;
        line-height: 20px;
        font-weight: 900;
        text-transform: uppercase;
        color: $colorTextPink;

    }
}

.breadcrumbs {
    &__ul {
        list-style-type: none;
        display: flex;
    }

    &__li:not(:last-child)::after {
        content: '/';
        padding-left: 8px;
        padding-right: 8px;
        font-size: 14px;
        line-height: 20px;
        font-weight: 300;
        text-transform: uppercase;
        color: #636363;
    }

    &__link {
        font-size: 14px;
        line-height: 20px;
        font-weight: 300;
        text-transform: uppercase;
        color: #636363;
    }

    &__li:last-child .breadcrumbs__link {
        font-weight: 700;
        color: #f16d7f;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
    }
}

.product-view {

    display: flex;
    justify-content: space-between;
    height: 777px;
    background-color: #f7f7f7;
    border: 1px solid #eaeaea;
    align-items: center;
}

.view-link {

    &__box {
        width: 47px;
        height: 47px;
        background-color: rgba(42, 42, 42, 0.14);
        display: flex;
        justify-content: center;
        align-items: center;

        &_left {
            height: 24px;
            width: 15;
            fill: #ffffff;
        }

        &_right {
            height: 24px;
            width: 15;
            fill: #ffffff;
        }
    }
}

.product-desc {
    max-width: 1140px;
    height: 730px;
    padding-top: 72px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    z-index: 10;
    background-color: #ffffff;
    // position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: -70px;
    // left: 0;
    // right: 0;
    // top: 1000px;


    border: 1px solid #eaeaea;




    &__category-title {
        margin-bottom: 15px;
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;
        color: $colorTextPink;

    }

    &__separator {
        width: 147px;
        height: 1px;
        border: 1px solid #eaeaea;
        display: flex;
        justify-content: center;
        align-items: center;


        &_pink {
            width: 63px;
            height: 3px;
            background-color: #ef5b70;

        }
    }

    &__heading {
        margin-top: 18px;
        margin-bottom: 64px;
        font-size: 18px;
        line-height: 24px;
        font-weight: 900;
        text-transform: uppercase;
        color: #4d4d4d;
    }

    &__text {
        margin-bottom: 28px;
        width: 640px;
        font-size: 14px;
        line-height: 24px;
        font-weight: 300;
        color: #5e5e5e;
    }

    &__material-designer {
        display: flex;
        gap: 44px;
        margin-bottom: 37px;
    }

    &__material {
        display: flex;
    }

    &__designer {
        display: flex;
    }

    &__property {
        margin-right: 4px;
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;
        color: #b9b9b9;

        &_meaning {
            font-size: 14px;
            line-height: 24px;
            font-weight: 700;
            color: #2f2f2f;
        }
    }

    &__price {
        font-size: 24px;
        line-height: 24px;
        font-weight: 700;
        color: #ef5b70;

        &_separator {
            margin-top: 42px;
            margin-bottom: 64px;
            width: 642px;
            border-bottom: 1px solid #eaeaea;
        }
    }
}

.product-selection {
    display: flex;
    gap: 52px;

    &__link {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        outline: inherit;
    }

    &__title {
        margin-bottom: 16px;
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;
        color: #2f2f2f;
    }

    &__color {
        padding-right: 9px;
        padding-left: 14px;
        width: 144px;
        height: 35px;
        background-color: #ffffff;
        border: 1px solid #eaeaea;
        display: flex;
        align-items: center;



        &_logo {
            margin-right: 11px;
            width: 12px;
            height: 12px;
            background-color: #ef5b70;
        }

        &_name {
            margin-right: auto;
            font-size: 13px;
            line-height: 24px;
            font-weight: 400;
            color: #bcbcbc;
        }

        &_arrow {
            font-size: 14px;
            line-height: 23px;
            font-weight: 400;
            fill: #bcbcbc;
        }
    }

    &__size {

        padding-left: 14px;
        padding-right: 9px;
        width: 144px;
        height: 35px;
        background-color: #ffffff;
        border: 1px solid #eaeaea;
        display: flex;
        align-items: center;

        &_logo {
            display: none;
        }

        &_name {
            margin-right: auto;
            font-size: 13px;
            line-height: 24px;
            font-weight: 400;
            color: #bcbcbc;
        }

        &_arrow {
            font-size: 14px;
            line-height: 23px;
            font-weight: 400;
            fill: #bcbcbc;
        }
    }

    &__quantity {
        padding-right: 9px;
        padding-left: 14px;
        width: 144px;
        height: 35px;
        background-color: #ffffff;
        border: 1px solid #eaeaea;
        display: flex;
        align-items: center;

        &_input {
            border-style: none;
            outline-style: none;
            font-size: 14px;
            line-height: 24px;
            font-weight: 400;
            color: #bcbcbc;
            text-decoration: #bcbcbc;
            ;
        }

    }

    &__button-box {
        margin-top: 28px;
        width: 537px;
        height: 55px;
        background-color: #ffffff;
        border: 1px solid #ef5b70;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: $colorTextPink;
            transition: .3s;
        }

        &:hover .product-selection__button_text {
            color: $colorBackGround;
            transition: .3s;
        }

        &:hover .product-selection__button_pic {
            fill: $colorBackGround;
            transition: .3s;
        }

    }

    &__button {
        display: flex;
        align-items: center;
        justify-items: center;
        gap: 15px;

        &_text {
            font-family: Lato;
            font-size: 16px;
            line-height: 1.2;
            font-weight: 700;
            color: #ef5b70;
        }

        &_pic {
            fill: $colorTextPink;
        }
    }

}

.product-offers {
    padding-top: 120px;
    padding-bottom: 72px;

    &__items {
        display: flex;
        gap: 32px;
    }


    &__title {
        margin-bottom: 72px;
        font-size: 24px;
        line-height: 20px;
        font-weight: 900;
        text-transform: uppercase;
        color: #4d4d4d;
        text-align: center;
    }

    &__item {
        display: flex;
        flex-direction: column;
        padding-bottom: 21px;

        &_pic-box {
            width: 261px;
            height: 280px;
            background-color: #e9e9e9;
        }

        &_title {
            margin-top: 18px;
            margin-left: 15px;
            margin-bottom: 17px;
            font-size: 14px;
            line-height: 1.2;
            font-weight: 400;
            text-transform: uppercase;
            color: #6f6e6e;
        }

        &_price {
            margin-left: 14px;
            font-size: 16px;
            line-height: 1.2;
            font-weight: 700;
            text-transform: uppercase;
            color: $colorTextPink;
        }
    }

}